<div class="login">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-6 login-text">
      <p>Call 257-695-237</p>
    </div>
    <div class="col-md-6 col-6 login-text1">
     <a href="">Register |</a>&nbsp;
     <a href="">Login</a>
     <a href="" class="fa fa-search"></a>
</div>
  </div>
</div>
</div>
<nav class="navbar navbar-expand-md navbar-light flex-row">
      
        <a class="navbar-brand mx-md-auto mr-auto" href="/">
            <img src="/assets/img/Header/Logo1.png" title="logo">
        </a>
       
        <button class="navbar-toggler ml-lg-0" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <nav class="navbar p-0 navbar-expand-md navbar-light">
        <div class="collapse navbar-collapse navbar-default px-3" id="navbarContent">
            <ul class="navbar-nav mx-md-auto mx-0 w-50 align-items-start nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="#login">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section3">FEATURES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SOFTWARE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section4">ABOUT</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#footer">CONTACT</a>
                </li>
            </ul>
        </div>
</nav>
<div id="header" class="container-fluid">
<div class="header-text">
  <h1>Lorem Ipsum</h1>
</div>
</div>
<div id="section1" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12">
      <div class="section1-text">
      <h1>LOREM IPSUM</h1>
    <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore<br> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ali-<br>quip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum<br> dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p><br>
    </div>
      </div>
      <div class="col-md-7 col-12 section1-image">
        <img src="/assets/img/section1/image.png">
      </div>
      <div class="col-md-5 col-12 button">
        <a href="#">
        <img src="/assets/img/section1/PRESS-THE-BUTTON.png">
      </a>
        <br><br>
      </div>
    </div>
  </div>
</div>
<div id="Section2" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12 section2-image">
        <img src="/assets/img/section2/image.png">
      </div>
      <div class="col-md-6 col-12 section2-text">
        <h1>LOREM IPSUM</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisc-<br>ing elit, sed do eiusmod tempor incididunt ut<br> labore et dolore magna aliqua. Ut enim ad minim<br> veniam, quis nostrud exercitation ullamco laboris<br> nisi ut aliquip ex ea commodo consequat.<br> Duis aute irure dolor in reprehenderit in voluptate velit<br> esse cillum dolore eu fugiat nulla pariatur. Excep-<br>teur sint occaecat cupidatat non proident, sunt in<br> culpa qui officia desurent mollit anim id est <br>laborum.Set ut perspeciatis unde omnis iste natus <br>error sit voluptatem accusantium do oremque lau-<br>dantium,totam rem aperiam,eaque ipsa  quae ab <br>illo inventore veritatis et quasi architecto beatea<br>vitae dicta sunt explicabo. Beni enim ipsam vo-<br>luptatem quia voluptas sit aspernatur aut odit aut </p>
      </div>
    </div>
  </div>
  </div>
<div id="section3" class="container-fluid">
<div class="container">
  <div class="section3-text">
    <h1>FEATURES</h1>
    <br>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore<br> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ali-<br>quip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum<br> dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p><br>
  </div>
  <div class="row">
    <div class="col-md-4 col-12 section3-img-text">
      <img src="/assets/img/section3/image1.png"><br>
      <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit,sed <br> do eiusmod tempor incididunt<br> ut labore et dolore magna<br> aliqua. In voluptate velit esse</p>
      <a href="">Read more</a>
 
    </div><br>
    <div class="col-md-4 col-12 section3-img-text">
 
      <img src="/assets/img/section3/image2.png"><br>
      <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed<br> do eiusmod tempor incididunt<br> ut labore et dolore magna<br> aliqua. In voluptate velit esse</p>
            <a href="">Read more</a>

    </div><br>
    <div class="col-md-4 col-12 section3-img-text">
    
      <img src="/assets/img/section3/image3.png"><br>
      <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed<br> do eiusmod tempor incididunt<br> ut labore et dolore magna<br> aliqua. In voluptate velit esse</p>
            <a href="">Read more</a>
     </div>
  </div><br><br>
   <div class="row">
    <div class="col-md-4 col-12 section3-img-text">
      <img src="/assets/img/section3/image4.png"><br>
      <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit,sed <br> do eiusmod tempor incididunt<br> ut labore et dolore magna<br> aliqua. In voluptate velit esse</p>
      <a href="">Read more</a>
 
    </div><br>
    <div class="col-md-4 col-12 section3-img-text">
 
      <img src="/assets/img/section3/image5.png"><br>
      <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed<br> do eiusmod tempor incididunt<br> ut labore et dolore magna<br> aliqua. In voluptate velit esse</p>
            <a href="">Read more</a>

    </div><br>
    <div class="col-md-4 col-12 section3-img-text">
    
      <img src="/assets/img/section3/image6.png"><br>
      <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed<br> do eiusmod tempor incididunt<br> ut labore et dolore magna<br> aliqua. In voluptate velit esse</p>
            <a href="">Read more</a>
     </div>
  </div>
  <br><br>
</div>
</div>
<div id="section4" class="container-fluid">
<div class="container">
  <div class="section4-text">
    <h1>TESTIMONIALS</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore<br> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ali-<br>quip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum<br> dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p><br>
  </div>
  <div class="row">
    <div class="col-md-4 person">
    <img src="/assets/img/section4/image1.png"><br><br>
    <h3>John Smith</h3>
    <br>
    <p>
      Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed<br> do eiusmod tempor incididunt<br> ut labore et dolore magna<br> aliqua. Ut enim ad minim<br> veniam, quis nostrud exercita-<br>tion ullamco laboris nisi ut ali-<br>quip ex ea commodo consequat.<br> Duis aute irure dolor in repre-<br>henderit in voluptate velit esse <br>cillum dolore eu fugiat nulla par<br>iatur. Excepteur sint occaecat<br> cupidatat non proident, sunt in<br> culpa qui officia deserunt mollit
    </p>
    <a href="">Read more</a><br><br>


    </div>
    <div class="col-md-4 person">
     <img src="/assets/img/section4/image2.png"><br><br>
         <h3>Peter Hunth</h3>
         <br>
      <p>
      Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed<br> do eiusmod tempor incididunt<br> ut labore et dolore magna<br> aliqua. Ut enim ad minim<br> veniam, quis nostrud exercita-<br>tion ullamco laboris nisi ut ali-<br>quip ex ea commodo consequat.<br> Duis aute irure dolor in repre-<br>henderit in voluptate velit esse <br>cillum dolore eu fugiat nulla par<br>iatur. Excepteur sint occaecat<br> cupidatat non proident, sunt in<br> culpa qui officia deserunt mollit
    </p>
        <a href="">Read more</a><br><br>

    </div>
    <div class="col-md-4 person">
            <img src="/assets/img/section4/image3.png"><br><br>
     <h3>Angela Mitchel</h3><br>

<p>
      Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed<br> do eiusmod tempor incididunt<br> ut labore et dolore magna<br> aliqua. Ut enim ad minim<br> veniam, quis nostrud exercita-<br>tion ullamco laboris nisi ut ali-<br>quip ex ea commodo consequat.<br> Duis aute irure dolor in repre-<br>henderit in voluptate velit esse <br>cillum dolore eu fugiat nulla par<br>iatur. Excepteur sint occaecat<br> cupidatat non proident, sunt in<br> culpa qui officia deserunt mollit
    </p>
        <a href="">Read more</a><br><br>

    </div>
  </div>
</div>
</div>
<div id="section5" class="container-fluid">
  <div class="container">
    <div class="section5-text">
    <h1>REFERENCES</h1><br>
  <img src="/assets/img/section5/logoi-firme.png">
    </div>
  </div>
</div>
<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 contact">
        <img src="/assets/img/Footer/Logo.png" title="logo"><br><br>
        <h3>Address</h3>
        <p> 222 Marmora St,</p>
         <p>Los Angeles D04 89GR.</p><br>
         <p><span class="fa fa-phone" ></span> &nbsp;1-800-3725-568</p>
         <p><span class="fa fa-envelope"></span> &nbsp;mail@gmail.com</p><br>
       
        <div class="social">
        <a href="#" class="fa fa-tumblr"></a>&nbsp;
        <a href="#" class="fa fa-pinterest-p"></a>&nbsp;
        <a href="#" class="fa fa-cloud"></a>&nbsp;
        <a href="#" class="fa fa-vimeo"></a>
        
          </div>
          <br>
      </div>
      <div class="col-md-6 text7">
        <h3>Get in Touch</h3><br>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="First Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Last Name" type="email" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Email" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Phone" type="text" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Message" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <a href="">Send Message</a>
        </div>
      </div> 
 <br><br>
      </div>
      <div class="col-md-12 text6">
          <p>Copyright © 2018 Architectural Plantitaion Shutters</p> 
            <a href="#" title="To Top">
    <span  class="fa fa-chevron-circle-up" ></span>
  </a><br><br>
      </div>
    </div>
  </div>

</div>